@charset "utf-8";

body, .wrapper, .inner, .main_content{
  height: 100%;
}

body {
  background-color: #f2f6f7;
}

.inner {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 48px 0;
  width: 640px;
}

.main {
  padding: 0 64px;
}

.title_text {
  color: #545658;
  font-size: 24px;
  text-align: center;
}

.form_area {
  color: #545658;
  margin-top: 20px;
}

.icon_area {
  display: flex;
  margin-top: 24px;
  text-align: center;
}

.icon {
  width: 50%;
}

.button {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  width: 100%;
  padding: 13px 0;
}

.Facebook_link {
  background-color: #3b5999;
  border-color: #3b5999;
  color: #fff;
}

.Facebook_link:hover {
  background-color: #344e87;
}

.icon-Google {
  margin-left: 8px;
}

.Google_link {
  color: #dd4b39;
}

.Google_link:hover {
  background-color: #f7f7f7;
}

.explanation_text {
  color: #949697;
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}

.account_form {
  font-size: 12px;
  margin-top: 23px;
}

.account_info {
  position: relative;
}

.account_info::before {
  border-bottom: solid 1px #ececec;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 30%;
  width: 100%;
}

.account_text {
  background-color: #fff;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.name_area {
  display: flex;
  margin-top: 21px;
}

.form_size {
  width: 50%;
}

.required_item:after {
  content: "※";
  color: #dd4b39;;
  margin-left: 3px;
}

.first_name {
  margin-left: 16px;
}

.input_area {
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  margin-top: 5px;
  color: #545658;
  padding: 5px;
  font-size: 13px;
  outline: none;
}

.input_area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}

.radio_area {
  margin-top: 5px;
  font-size: 16px;
  display: flex;
}

.radio_label {
  position: relative;
  cursor: pointer;
  margin-left: 15px;
}

.radio_label:first-child {
  margin-left: 0;
}

.radio_button {
  display: none;
}

span {
  padding: 3px 3px 3px 20px;
  display: inline-block;
}

span::before {
  content: "";
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  height: 14px;
  margin-top: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
}

.radio_button:checked + span::after {
  content: '';
  border-radius: 50%;
  background-color: #01bfbd;
  height: 8px;
  position: absolute;
  top: 7px;
  left: 4px;
  width: 8px;
}

.birthplace {
  position: relative;
}

.birthplace::after {
  content: "";
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  position: absolute;
  height: 5px;
  top: 63%;
  left: 239px;
  transform: rotate(45deg);
  width: 5px;
}

.select_area {
  appearance: none;
  width: 50%;
}

.course {
  display: block;
}

.course label:first-of-type {
  margin-top: 5px;
}

.checkbox_area {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.course_name::before {
  border: solid 1px #d9d9d9;
  content: "";
  height: 15px;
  left: -25px;
  position: absolute;
  width: 15px;
}

.checkbox:checked  + .course_name::after{
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
  content: "";
  position: absolute;
  height: 16px;
  left: -20px;
  top: -4px;
  transform: rotate(45deg);
  width: 8px;
}

.course_name {
  margin-left: 25px;
  position: relative;
}

.checkbox {
  display: none;
}

.checkbox_area:first-child {
  margin-top: 0;
}

.input_area-note {
  height: 100px;
  line-height: 25px;
  resize: none;
  vertical-align: top;
}

.button-create_account {
  background-color: #01bfbd;
  border-color: transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  margin-top: 23px;
  padding: 11px;
  width: 100%;
}

.button-create_account:hover {
  background-color: #01a6a4;
}

.agreement {
  margin-top: 20px;
  line-height: 16px;
}

.link_color {
  color: #01a6a4;
}

.footer {
  font-size: 12px;
  padding: 34px 0 42px;
  text-align: center;
}

.authentication_question {
  margin-top: 13px;
}